.not-found {
  text-align: center;
  height: 100%;
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
}

.not-found h1 {
  font-size: 3rem;
  text-shadow: #666 1px 1px  3px;
  color: #a0a0a0;
}

.not-found p {
  font-size: 1rem;
  color: #666;
}
